In [ ]:
import json
from pymysql import connect

In [ ]:
dic = {}
with open("baike_data.json", "r", encoding='utf8') as f:
    dic = json.load(f)

In [ ]:
conn = connect(host='127.0.0.1',
               port=3306,
               user='root',
               passwd='',
               charset="utf8")
cursor = conn.cursor()

cursor.execute("CREATE DATABASE baidu_baike CHARACTER SET UTF8mb4 COLLATE utf8mb4_general_ci")
conn.commit()

In [ ]:
conn = connect(host='127.0.0.1',
               port=3306,
               user='root',
               passwd='',
               db='baidu_baike',
               charset="utf8")
cursor = conn.cursor()

cursor.execute("CREATE TABLE `mathematical_science`(`entry` VARCHAR(100) NOT NULL, `summary` VARCHAR(10000) NULL, \
                PRIMARY KEY (`entry`), INDEX `ID` USING BTREE (`entry`))\
                ENGINE = InnoDB, DEFAULT CHARACTER SET = utf8mb4")
conn.commit()

In [ ]:
i = 0
for entry in dic:
    cursor.execute("INSERT INTO mathematical_science(entry, summary) VALUES (%s, %s)",
                   (entry, dic[entry]))
    i += 1
    if not (i % 10):
        conn.commit()
else:
    conn.commit()